<form [formGroup]="formGroup">
  <div class="form-group">
    <label for="username">手机号<code>*</code></label>
    <input type="text" class="form-control" id="username" placeholder="请输入手机号"
           [formControlName]="this.keys.phone"/>
  </div>
    <div class="input-group ">
      <input type="text" class="form-control" id="verificationCode" placeholder="请输入验证码"
             [formControlName]="this.keys.verificationCode">
      <app-verification-code [phone]="formGroup.get(keys.phone).value" class="input-group-append"></app-verification-code>
    </div>
  <hr>
  <div class="form-group">
    <button type="submit" (click)="onSubmit()"
            class="btn btn-primary btn-block">确认
    </button>
  </div>
</form>
